build/
imgui/
bin/
x64/ 
bin/
build/ 
out/ 
lib/
ogre-ffmpeg-videoplayer/
ogre-imgui/build
ogre-imgui/.vscode
imgui/
imgui
OgreVideoPlugin/build
OgreVideoPlugin/.vscode
OgreVideoPlugin
version.h
.DS_Store