build/
imgui/
bin/
x64/ 
bin/
build/ 
out/ 
ogre 
lib/
ogre-ffmpeg-videoplayer/
ogre-imgui/build
ogre-imgui/.vscode
.vscode/
imgui/
imgui
OgreVideoPlugin/build
OgreVideoPlugin/.vscode
OgreVideoPlugin
version.h
cef_binary*
ffmpeg
*.zip
*.bz
*.gz
*.tar
FFmpeg