build/
imgui/
bin/
x64/ 
bin/
build/ 
out/ 
lib/
ogre-ffmpeg-videoplayer/
ogre-imgui/build
ogre-imgui/.vscode
imgui/
imgui
OgreVideoPlugin/build
OgreVideoPlugin/.vscode
OgreVideoPlugin
version.h
cef_binary_3.3578.1860.g36610bd_windows32
ffmpeg
*.zip
*.bz
*.gz
*.tar